#
dualword-rt
.build
Makefile
.qmake.stash

#
/.cproject
/.project
/.externalToolBuilders
/.settings

#
chessx-mod.cflags
chessx-mod.config
chessx-mod.creator
chessx-mod.creator.user
chessx-mod.cxxflags
chessx-mod.files
chessx-mod.includes
