#
dualword-rt
.build
Makefile
.qmake.stash
src/.qm

#
/.cproject
/.project
/.externalToolBuilders
/.settings

#
dualword-rt.cflags
dualword-rt.config
dualword-rt.creator
dualword-rt.creator.user
dualword-rt.cxxflags
dualword-rt.files
dualword-rt.includes
